@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.nav-login{
    height: 60px;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
}

.button-nav{
    display: flex;
    padding-right: 20px;
    padding-top: 5px;
    align-items: flex-end;
}

.button-style{
    background-color: #2E3E5C;
    color: white;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.button-style-hover :hover{
    background-color: #375fa9;
    color:white;
    border: none;
    width: 100%;
}

.input-text{
    border-color: rgb(231, 224, 224);
    border-style:ridge;
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
    font-size: 12px;
}

.input-text::placeholder{
    color: rgb(152, 149, 149);
    font-size: 10px;
    text-align: left;
}

/* label */
.textInput{
    font-size: 0.8em;
    color: rgb(96, 94, 94);
    background-color: transparent;
}

.input-text-1{
    border-color: rgb(231, 224, 224);
    border-style:ridge;
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
    background-color: transparent;
}

.input{
    align-items: flex-start;
    display: flex;
    background-color: transparent;
}


.login-input{
    border-color: rgb(231, 224, 224);
    border-radius: 8px;
    height: 30px;
    font-size: 12px;
    border-width: 0.5px;
    width: 100%;
}


.buttonadd{
    border-style: dotted;
    border-color: rgb(147, 143, 143);
    background-color: transparent;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color:rgb(96, 94, 94);
    font-size: 0.7em;
}

.depoimento{
    height: 100px;
    width: 100%;
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}


.depoimento-btn{
    border: none; 
    background: none;
    cursor: pointer; /* Mouse pointer on hover */
}

.icon{
    height: 10px;
}

.logo{
    position: relative;
    left: 25%;
}


.logo-nav{
    height: 100px;
    width: 100px;
    margin-top: -50px; 
    margin-bottom: 10px;
}

.text-nav{
    color: white;
    text-decoration-line: none;
    padding-right: 0;
    padding-left: 0;
    display: block;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    line-height: 1.5;
    padding: 0.5rem 1rem;
}

.text-nav-hover :hover{
    color: #2E3E5C;
}

.center-text-login{
    position: absolute;
    top:100px;
    left: 40%;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    height: 20px;
}

.button-login{
    position: absolute;
    right: 0px;
    left: 40%;
    top: 400px;
    width: 20%;
    margin-top: 20px;
}

.perfil{
    background-color: #c0c0c7;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.icon-perfil{
    height: 20px;
}
